<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dot Dot Dot</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{request.static_url('dot_dot_dot:static/normalize.css')}}">
  <link rel="stylesheet" href="{{request.static_url('dot_dot_dot:static/base.css')}}">
  <link rel="stylesheet" href="{{request.static_url('dot_dot_dot:static/layout.css')}}">
  <link rel="stylesheet" href="{{request.static_url('dot_dot_dot:static/modules.css')}}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{request.route_url('home')}}">Home</a></li>
        {% if request.authenticated_userid %}
        <li><a href="{{request.route_url('history')}}">History</a></li>
        <li><a href="{{request.route_url('logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{request.route_url('auth')}}">Sign-Up/Login</a></li>
        {% endif %}
    </ul>
    </nav>
  </header>
  <main>
    <h1>Dot Dot Dot</h1>

    {% block content%}

    {% endblock content%}

  </main>
</body>
</html>
