/* #87bcde blue
#805e73 taupe
#4e4d5c dark liver
#2d4654 charchoal
#243b4a japanese indigo */

body {
    color: #2d4654;
    background-color: #ffffff;
    margin: auto;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 12px
}

table {
    /* border: 1px solid #888; */
    margin: auto;
    table-layout: fixed;
    width: 900px;
}

th {
    padding: 10px;
    font-weight: bold;
    /* border-bottom: 3px solid #888; */
    background-color: #F9AD5A;
    color: white;
}

td {
    padding: 5px;
    /* border-top: 1px solid #888; */
}

tr {
    background-color: rgb(252, 222, 189);
    font-size: 12px;
}

tr:nth-child(odd){
    background-color: rgb(201, 201, 201);
}

#wolfman {
    color:#EF4036;
}
